<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD FARM</title>
</head>

<body>
    <h1>Add a Farm</h1>
    <div>
        <form action="/farms" method="post">
            <div>
                <label for="name">Farm Name</label>
                <input type="text" name="name" id="name" placeholder="Farm Name">
            </div>
            <div>
                <label for="city">City</label>
                <input type="text" id="city" name="city">
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email" id="email" name="email">
            </div>

            </select>
            <button>Add Farm</button>
        </form>
    </div>
</body>

</html>